<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unit.test.github.mapper.DroolsVersionRecordMapper">
  <resultMap id="BaseResultMap" type="com.example.unit.test.github.entity.DroolsVersionRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="drlVersion" jdbcType="VARCHAR" property="drlversion" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="isactive" jdbcType="BIT" property="isactive" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, userid, username, drlVersion, inserttime, updatetime, isactive
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drools_version_record
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.example.unit.test.github.entity.DroolsVersionRecord">
    insert into drools_version_record (id, type, userid, 
      username, drlVersion, inserttime, 
      updatetime, isactive)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, #{userid,jdbcType=BIGINT}, 
      #{username,jdbcType=VARCHAR}, #{drlversion,jdbcType=VARCHAR}, #{inserttime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{isactive,jdbcType=BIT})
  </insert>

</mapper>